<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    
    <p>Created by {{post.user.name}} on {{post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
  </div>
</div>


<div class="row mb-4 project">

    <form class="form comment-form">
      <div class="form-group">
        <label for="comment-text"><h3>Comment</h3></label><br>
        <textarea id="comment-text" name="comment-text" rows="4" cols="50">
  
        </textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
</div>

{{#each comments as |comment|}}
<div class="row mb-4">
    <div class="row mb-2">
        <div class="col-md-4">{{comment.user.name}}</div>
        <div class="col-md-4">{{comment.date_created}}</div>
    </div>
    <div class="row mb-2">{{comment.text}}</div>
    
</div>
{{/each}}
<script src="/js/newComment.js"></script>
